@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    color: #585858;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 18pt;
		font-weight: 300;
		line-height: 1.75;
}

/* Center website */
.main1 {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    color: #585858;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-weight: 300;
		line-height: 1.75;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
