@charset "utf-8";
/* CSS Document */
* {box-sizing:border-box}

		/* Slideshow02 */
		#img-grp-wrap02-container {
	    position: relative;
			width: 800px;
 		 	height: 400px;
	    margin: 0px auto;
	}

	.img-wrap02 {
	    position: relative;
	    border: 0px solid #fff;
	    width:800px;
	    height: 400px;
	}

	.img-wrap02 img {
	    position: absolute;
	    top: 0;
	    left: 0px;
	    -moz-box-shadow: 1px 1px 4px #CCC;
	    padding: 0px;
	}

	/* Next & previous buttons */
	.prev02, .next02 {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 16px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	}

	/* Position the "next button" to the right */
	.next02 {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}








	/* Slideshow */
	#img-grp-wrap {
		position: relative;
		width: 353px;
		height: 326px;
		margin: 0px auto;
}

.img-wrap {
		position: relative;
		border: 1px solid #CCC;
		width:353px;
		height: 326px;
}

.img-wrap img {
		position: absolute;
		top: 0;
		left: -12px;
		-moz-box-shadow: 1px 1px 4px #CCC;
		padding: 0px;
}

.next, .prev {
		position: absolute;
		cursor: pointer;
		top: 70px;
}

.next {
		right: -90px;
}

.prev {
		left: -100px;
}

		}
